@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer base {
    .btn:before {
        content:'Pointless Button';
    }
    .btn:hover:before {
        content:'Click Me!';
    }
    .section {
        @apply min-h-screen pt-12;
    }
    p {
        @apply my-5;
    }
}

